@media (max-width: 320px) {
  .profile .box .profileImg {
    width: 100px !important;
    height: 100px !important;
  }
  .profile .box .info .col-2 {
    max-width: 23.666667%;
  }
  .profile .box .info h2, .profile .box .info p {
    font-size: 0.8em !important;
    margin-left: 32px;
  }
  .profile .box .info .col-12 {
    margin-top: 9px;
    margin-left: 5px;
  }
  .profile .box .info .info-count .count .iconbg .icon {
    margin-left: -9px;
  }
  .profile .box .info .info-count .count .data .num {
    margin-left: -6px;
  }
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
  .logoimage {
    margin-left: 25% !important;
  }
  .navbar .search-form {
    width: 260px;
  }
  .btnSignLog {
    margin: 0 auto;
    margin-top: 50% !important;
    position: absolute;
    text-align: center;
    margin-left: 140px;
  }
  .btnSignLog button {
    margin-bottom: 10px;
    width: 100px !important;
  }
  header .btnSignLog .btn {
    width: 100% !important;
    height: 20%;
  }
  .profile .box {
    height: 150px;
  }
  .profile .box .profileImg {
    width: 110px;
    height: 110px;
    margin-top: -28px;
  }
  .profile .box .info {
    margin-right: 0px;
    margin-left: -32px;
  }
  .profile .box .info h2 {
    font-size: 1.5em;
  }
  .profile .box .info .info-count {
    padding-left: 0px;
  }
  .profile .box .count {
    margin-left: -13px;
  }
  .profile .profileBody .overview .header h3 {
    font-size: 1rem;
  }
  .profile .profileBody .overview .boxOverview .text {
    font-size: 12px;
  }
  .profile .profileBody .question {
    margin-top: 20px;
  }
  .profile .profileBody .question .body .body-container {
    font-size: 12px;
  }
  .profile .profileBody .question .body .body-container .post .image {
    margin-bottom: 10px;
  }
  .profile .profileBody .aboutMe {
    margin-top: 20px;
  }
  .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .detalis.mail {
    font-size: 13px;
  }
  .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .detalis.birth {
    margin-left: 6px;
  }
  .profile .profileBody .follow {
    margin-top: 20px;
  }
  .profile .profileBody .follow .body .person {
    margin-top: 20px;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profile .profileBody .follow .body .person .followImg {
    text-align: center;
  }
  .profile .profileBody .follow .body .person .followInfo {
    text-align: center;
  }
  .profile .profileBody .follow .body .person .messageBtn {
    margin-top: 0px;
  }
  .profile .profileBody .follow .body .person .delete {
    margin-top: 12px;
  }
  .popUpInfo {
    padding-left: 20px;
  }
  .popUpInfo .modal-dialog .modal-content .modal-body i {
    right: -21px !important;
  }
}

@media (min-width: 576px) {
  .landingPage .modal-dialog {
    max-width: 350px;
  }
}

@media (min-width: 575px) and (max-width: 610px) {
  .modal-dialog .modal-content .modal-body i {
    right: -8px !important;
  }
}

@media (min-width: 575px) and (max-width: 700px) {
  .modal-dialog .modal-content .modal-body i {
    right: 0px !important;
  }
}

@media (max-width: 767px) and (min-width: 574px) {
  header .btnSignLog .btn {
    width: 100% !important;
    height: 8%;
  }
  header .text h1 {
    font-size: 2rem;
  }
  header .text h2 {
    font-size: 1.4rem;
  }
  .profile .box .profileImg {
    width: 110px;
    height: 110px;
    margin-top: -15px;
    margin-left: -43px;
  }
  .profile .box .info h2 {
    font-size: 1em;
    margin-left: 32px;
  }
  .profile .box .info p {
    font-size: 13px;
    margin-left: 32px;
  }
  .profile .box .info .info-count {
    padding-left: 0px;
  }
  .profile .box .count .col-sm-12 {
    padding-left: 0px;
  }
  .profile .box .count .iconbg .icon {
    margin-left: 16px;
  }
  .profile .box .count .iconbg .icon svg, .profile .box .count .iconbg .icon img, .profile .box .count .iconbg .icon i {
    margin-left: -15px;
  }
  .profile .box .count .data .num {
    margin-left: 4px;
  }
  .profile .profileBody .overview .header h3 {
    font-size: 1rem;
  }
  .profile .profileBody .overview .boxOverview .text {
    font-size: 10px;
  }
  .profile .profileBody .overview .boxOverview .text.hidden-sm {
    display: none !important;
  }
  .profile .profileBody .overview .boxOverview .text.visible-sm {
    display: block !important;
  }
  .profile .profileBody .question .body .body-container .post .image {
    margin-bottom: 10px;
  }
  .profile .profileBody .question .body .body-container .post .queBody .name {
    font-size: 1.3rem;
  }
  .profile .profileBody .question .body .body-container .post .comment .name {
    font-size: 1rem;
  }
  .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .detalis {
    font-size: 80%;
  }
  .profile .profileBody .follow {
    margin-top: 20px;
  }
  .profile .profileBody .follow .body .person {
    margin-top: 20px;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profile .profileBody .follow .body .person .followImg {
    text-align: center;
  }
  .profile .profileBody .follow .body .person .followInfo {
    text-align: center;
  }
  .profile .profileBody .follow .body .person .messageBtn {
    margin-top: 0px;
  }
  .profile .profileBody .follow .body .person .delete {
    margin-top: 12px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  header .btnSignLog .btn {
    width: 100% !important;
    height: 8%;
  }
  header .text h1 {
    font-size: 2.5rem;
  }
  header .text h2 {
    font-size: 1.5rem;
  }
  .profile .box .profileImg {
    width: 130px;
    height: 130px;
  }
  .profile .box .info {
    padding-left: 30px;
  }
  .profile .box .info h2 {
    font-size: 1.1em;
  }
  .profile .box .count .iconbg .icon svg, .profile .box .count .iconbg .icon img, .profile .box .count .iconbg .icon i {
    margin-left: -5px;
  }
  .profile .profileBody .overview .header h3 {
    font-size: 1rem;
  }
  .profile .profileBody .overview .boxOverview .text {
    font-size: 12px;
  }
  .profile .profileBody .question .body .body-container .post .image {
    width: 70px;
    height: 70px;
  }
  .profile .profileBody .question .body .body-container .post .comment .name {
    font-size: 1.3rem;
    margin-left: 12px;
  }
  .profile .profileBody .question .body .body-container .post .comment .queText {
    font-size: 12px;
    margin-left: 12px;
  }
  .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .detalis {
    font-size: 85%;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  header .text h1 {
    font-size: 3rem;
  }
  header .text h2 {
    font-size: 2rem;
  }
  .profile .box .profileImg {
    width: 130px;
    height: 130px;
  }
  .profile .box .info h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 100px) and (max-width: 430px) {
  .modal-dialog .modal-content .modal-body i {
    right: -45px !important;
  }
}
 

 /*# sourceMappingURL= media.css.map */