// iphone 5
@media (max-width: 320px)
{
    //start profile page
    .profile
    {
        .box
        { 
          .profileImg
          {
              width: 100px !important;
              height: 100px !important;
          }
          .info
          {
            .col-2 {
                max-width: 23.666667%;
            }
            h2 ,p
            {
                font-size: 0.8em !important;
                margin-left: 32px;
            }
            .col-12 {
                margin-top: 9px;
                margin-left: 5px;
            }
            .info-count{

                
                .count
                {
                   .iconbg
                   { 
                      
                      .icon
                      { margin-left: -9px;
                          svg ,img,i
                          {
                           
                          }
                      }
                   }
                   .data
                   {
                     
                      .num
                      {
                          margin-left: -6px;
                      }
                      .name
                      {
                      }
                   }
                   
                }
                
            }
          }
         
         
        }
        .overview
        {

        }
    }
    //End profile page
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px)
 {
//strat landing page
   .hidden-xs
   {
       display: none;
   }
    .logoimage
    {
        margin-left: 25% !important;
    }
    .navbar 
    {
        .search-form {
            
             width: 260px;
         } 
    }   
    .btnSignLog
    {
        
        margin: 0 auto;
        margin-top:  50% !important;
        position: absolute;
        text-align: center;
        margin-left: 140px;
        
        button
            {
               margin-bottom: 10px ;
               width: 100px !important;
            }
    }
    header .btnSignLog .btn 
        {
        width: 100% !important;
        height: 20%;
        
        }
//End landing page
//start Profile page
    .profile
    {
        .box
        { height: 150px;
        .profileImg
        {
            width: 110px;
            height: 110px;
            margin-top: -28px;
        }
        .info
        {margin-right: 0px;
            margin-left: -32px;
            h2 
            {
            font-size: 1.5em;
            }
            p
            {
            
            }
            .info-count
            {
                padding-left: 0px;
            }
        }
        
        .count
        {
        
            margin-left: -13px;
            .col-sm-12
            {
            
            }
            .iconbg
            { 
                
                .icon
                {  
                    svg ,img,i
                    {
                    
                    }
                }
            }
            .data
            {
                
                .num
                {
                
                }
                .name
                {
                }
            }
            
        }
        
        }
        .profileBody
        {
        .overview
        {
            .header
            {
                h3
                {
                    font-size:1rem; 
                }
            }
            .boxOverview
            {
            .text
            {
                font-size:12px;
                
            }
            } 
        }
        .question 
        {    margin-top: 20px;
            .body
            {
                .body-container
                {   
                    .post
                    {
                        .image
                        {
                            margin-bottom: 10px;
                        }
        
                    }    font-size: 12px;
                }
            }
        }
        .aboutMe
        {
            margin-top: 20px;
            .header
            {   
                h2
                { 
                    i
                    {
                    }
                }
                
            }
            .body
            {  
                .body-container
                {  
                    h3
                    {
                
                        span
                        {
                            
                        }
                    }
                    .readMore
                    {
                    a
                    {
                    }
                    &:hover
                    {
                    }
                    }
                    .infoBasic
                    {
                    .basic
                    {
                        .head
                        {
                            
                        }
                        .detalis
                        {   &.mail
                            {
                                font-size: 13px;
                            }
                            &.birth
                            {
                                margin-left: 6px;
                            }
                        }
                    }
                    }
                    .education
                    {   h4
                        {
                        
                        }
                        p
                        {
                        
                        }
                    }
                    .skills
                    {
                        .skill
                        { 
                        }
                    }
                    
                }
            }
        }
        .follow
        {
            margin-top: 20px;
            .header
            {   
                h2
                { 
                    i
                    {
                    
                    }
                }
                
            }
            .body
            { 
                .person
                {  margin-top: 20px;
                    background-color: #eee;
                    padding-top: 10px;
                    padding-bottom: 10px;
                .followImg
                {
                    text-align: center;
                }
                .followInfo
                {
                    text-align: center; 
                }
                .messageBtn
                {
                    margin-top: 0px;
                }
                .delete
                {
                    margin-top: 12px;
                }
            }
            } 
        }
        }
        
    }
    .popUpInfo
    {
        padding-left: 20px;
        .modal-dialog
        {
            .modal-content
            {
                .modal-header
                {
    
                }
                .modal-body
                {
                    img
                    {
                    }
                    i
                    {
                        right: -21px !important;
                    }
                    .line
                    { 
                        textarea
                        {
                        }
                    }
                
                }
            }
        }
    }
   
 //End start Profile page


}
@media (min-width: 576px)
{ 
    .landingPage
        {
            .modal-dialog {
            max-width: 350px;
            }
        }
}

@media (min-width: 575px) and(max-width: 610px)
{
    .modal-dialog
    {
        .modal-content
        {
            .modal-header
            {

            }
            .modal-body
            {
                img
                {
                }
                i
                {
                    right: -8px !important;
                }
                .line
                { 
                }
               
            }
        }
    }
    
}

@media (min-width: 575px) and(max-width: 700px)
{
    .modal-dialog
    {
        .modal-content
        {
            .modal-header
            {

            }
            .modal-body
            {
                img
                {
                }
                i
                {
                    right: 0px !important;
                }
                .line
                { 
                    textarea
                    {
                       
                        
                    }
                }
               
            }
        }
    }
    
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px)and(min-width: 574px) 
{ // start Landing page
     // start header
   header .btnSignLog .btn 
   {
    width: 100% !important;
    height: 8%;
    
    }
    header
    { 
        .text
        {
            h1 
            {font-size: 2rem;}
            h2
            {    font-size: 1.4rem; }
        } 
    }
    // end header

    // End Landing page

    //start Profile page
    .profile
    {
        .box
        { 
        .profileImg
        {
            width: 110px;
            height: 110px;
            margin-top: -15px;
            margin-left: -43px;
        }
        .info
        { 
            h2 
            {
            font-size: 1em;
            margin-left: 32px;
            }
            p
            {
                font-size: 13px;
                margin-left: 32px;
            }
            .info-count
            {
                padding-left: 0px;
            }
        }
        
        .count
        {
            .col-sm-12
            {
                padding-left: 0px;
            }
            .iconbg
            { 
                
                .icon
                {    margin-left: 16px;
                    svg ,img,i
                    {
                        margin-left: -15px;
                    }
                }
            }
            .data
            {
                
                .num
                {
                    margin-left: 4px;
                }
                .name
                {
                }
            }
            
        }
        
        }
        .profileBody
        {
        .overview
        {
            .header
            {
                h3
                {
                    font-size:1rem; 
                }
            }
            .boxOverview
            {
            .text
            {
                font-size:10px;
                &.hidden-sm
                {
                    display: none !important;
                }
                &.visible-sm
                {
                    display: block !important;
                }
            }
            } 
        }
        .question 
        {
            .body
            {
                .body-container
                {   
                    .post
                    {
                        .image
                        {
                            margin-bottom: 10px;
                        }
                        .queBody
                        {
                            .name
                            {
                            font-size: 1.3rem; 
                            }
                        }
                        .comment 
                        {   .name
                            {
                            font-size: 1rem; 
                            }              
                            .queText
                            {
                            }
                        }
        
                    }
                }
            }
        }
        .aboutMe
        {
            .header
            {   
                h2
                { 
                    i
                    {
                    }
                }
                
            }
            .body
            {  
                .body-container
                {  
                    h3
                    {
                
                        span
                        {
                            
                        }
                    }
                    .readMore
                    {
                    a
                    {
                    }
                    &:hover
                    {
                    }
                    }
                    .infoBasic
                    {
                    .basic
                    {
                        .head
                        {
                        }
                        .detalis
                        { font-size: 80%;
                        }
                    }
                    }
                    .education
                    {   h4
                        {
                        
                        }
                        p
                        {
                        
                        }
                    }
                    .skills
                    {
                        .skill
                        { 
                        }
                    }
                    
                }
            }
        }
        .follow
        {
            margin-top: 20px;
            .header
            {   
                h2
                { 
                    i
                    {
                    
                    }
                }
                
            }
            .body
            { 
                .person
                {  margin-top: 20px;
                    background-color: #eee;
                    padding-top: 10px;
                    padding-bottom: 10px;
                .followImg
                {
                    text-align: center;
                }
                .followInfo
                {
                    text-align: center; 
                }
                .messageBtn
                {
                    margin-top: 0px;
                }
                .delete
                {
                    margin-top: 12px;
                }
            }
        }
        }
        }
        
    }
 //End start Profile page
 // strat News Feed
 .newsFeed
 {
   .newsFeedBody
   { 
     .line
     {
      
     }
     .card
     {
        .profimg
        {
        }
        .line
        {
        .name
        {
         
        }
        .title
        {
        }
        }
        .followNum
        {
         
        }
     }
     //Start  Questions
     .question 
     {
         .header
         { 
             h2
             {
                 i
                 {
                 }
             }
             
         }
         .body
         {
             .body-container
             {   
                 .addQue
                 {
                 }
                 .boxQus
                 {
                     textarea
                     {
                         &:focus
                         {
                         }
                     }
                 }
                 button
                 { 
                 }
                 .post
                 {
                     .image
                     {  width:30px;
                         height: 30px;
                     }
                     .col-sm-10
                     {
                        padding-left: 0px;
                     }
                     .row
                     {
                     
                     }
                     .queBody
                     {
                        .col-sm-12
                        {
                            padding-left: 0px;
                        }  
                           .queOption
                             {
                               
                                 a
                                 {
                                 
                                 &:hover
                                 {
                                 
                                 }
                                 }
                             }
                             .name
                             {
                              
                             }
                             .title,.date
                             {
                             }
                             .queText
                             {
                             margin-left: 20px;
                             font-size: 13px;
                             }   
                         
                     }
                     
                         .comment
                         { .image
                             {  width:30px;
                                 height: 30px; 
                             }
                             .name
                             {  
                             }
                             .queText
                             {
                             }
                             a
                             {
                                 &:hover
                                 {
                                 }
                             }
                             
                         } 
                         .postComment
                         {
                             .image
                             {
                             }
                             button
                             {
                             }
                         }
                         .prevComment
                         {
                             a
                             {
                             } 
                            
                         }
                     }
                     
                
                 }
             }
         
         }
         
     }
     //End Questions 
 } 
// end newsfeed
 }



// Medium devices (tablets, less than 992px)
@media (max-width: 991px) and (min-width: 768px) 
{ 
// start Landing page
    // start header
    header .btnSignLog .btn 
    {
        width: 100% !important;
        height: 8%;
        }
    header{ .text
                {

                    h1 
                        {font-size: 2.5rem;}
                        h2
                        {    font-size: 1.5rem; }
                } 
    }
    // end header
// End Landing page
//start Profile page

  .profile
  {
      .box
      { 
        .profileImg
        { width:130px;
            height: 130px;
        }
        .info
        {    padding-left: 30px;
           
          h2
          {
            font-size: 1.1em;
          }
        }
       
        .count
        {
           .iconbg
           { 
              
              .icon
              {
                  svg ,img,i
                  {
                      margin-left: -5px;
                  }
              }
           }
           .data
           {
             
              .num
              {
              }
              .name
              {
              }
           }
           
        }
        
      }
      .profileBody
      {
        .overview
        {
           .header
           {
               h3
               {
                   font-size:1rem; 
               }
           }
         .boxOverview
         {
            .text
            {
                font-size: 12px;
              
            }
         } 
        }
        .question 
        {
          .body
          {
              .body-container
              {   
                  .post
                  {
                      .image
                      {
                          width: 70px;
                          height: 70px;
                      }
                      .comment 
                      {   .name
                          {
                              font-size: 1.3rem; 
                              margin-left: 12px;   
                           }              
                          .queText
                          {
                                font-size: 12px;
                                margin-left: 12px;
                          }
                      }
                  }
              }
          }
        }   
        .aboutMe
        {
            .header
            {   
                h2
                { 
                    i
                    {
                    }
                }
                
            }
            .body
            {  
                .body-container
                {  
                  h3
                  {
                
                      span
                      {
                         
                      }
                  }
                  .readMore
                  {
                    a
                    {
                    }
                    &:hover
                    {
                    }
                  }
                  .infoBasic
                  {
                    .basic
                    {
                      .head
                      {
                      }
                      .detalis
                      { font-size: 85%;
                      }
                    }
                  }
                 .education
                 {   h4
                     {
                       
                     }
                     p
                     {
                      
                     }
                 }
                 .skills
                 {
                     .skill
                     { 
                     }
                 }
                 
                }
            }
        }
      }
     
  }
//End start Profile page
// start  News feed
.newsFeed
{
  .newsFeedBody
  { 
    .line
    {
     
    }
    .card
    {
       .profimg
       {
       }
       .line
       {
       .name
       {
        
       }
       .title
       {
       }
       }
       .followNum
       {
        
       }
    }
    //Start  Questions
    .question 
    {
        .header
        { 
            h2
            {
                i
                {
                }
            }
            
        }
        .body
        {
            .body-container
            {   
                .addQue
                {
                }
                .boxQus
                {
                    textarea
                    {
                        &:focus
                        {
                        }
                    }
                }
                button
                { 
                }
                .post
                {
                    .image
                    {  width:40px;
                        height: 40px;
                    }
                    .row
                    {
                    
                    }
                    .queBody
                    {
                            .queOption
                            {
                              
                                a
                                {
                                
                                &:hover
                                {
                                
                                }
                                }
                            }
                            .name
                            {
                             
                            }
                            .title,.date
                            {
                            }
                            .queText
                            {
                                margin-right: 5px;
                            }   
                        
                    }
                    
                        .comment
                        { .image
                            {  width:40px;
                                height: 40px; 
                            }
                            .name
                            {  
                            }
                            .queText
                            {
                               
                            }
                            a
                            {
                                &:hover
                                {
                                }
                            }
                            
                        } 
                        .postComment
                        {
                            .image
                            {
                            }
                            button
                            {
                            }
                        }
                        .prevComment
                        {
                            a
                            {
                            } 
                           
                        }
                    }
                    
               
                }
            }
        
        }
        
    }
    //End Questions 
}  
// end newsfeed

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) and(min-width: 992px)
{ //landing page
    // start header
  header
  { .text
            {
                h1 
                    {font-size: 3rem;}
                    h2
                    {    font-size: 2rem; }
            } 
  }
  
  // end header
  //landing page
//   start profile page
        .profile
        {
            .box
            { 
              .profileImg
              {
                  
                    width: 130px;
                    height: 130px;
              }
              .info
              {
                h2 
                {
                    font-size: 1.5rem;
                    
                }
              }
             
              .count
              {
                 .iconbg
                 { 
                    
                    .icon
                    {
                        svg ,img,i
                        {
                         
                        }
                    }
                 }
                 .data
                 {
                   
                    .num
                    {
                    }
                    .name
                    {
                    }
                 }
                 
              }
              
            }
        }
//   End profile page
        
 }

 @media (min-width:100px)and (max-width: 430px)
 {
     .modal-dialog
     {
         .modal-content
         {
             .modal-header
             {
     
             }
             .modal-body
             {
                 img
                 {
                 }
                 i
                 {
                     right: -45px !important;
                 }
                 .line
                 { 
                     textarea
                     {
                        
                     }
                 }
                
             }
         }
     }
 }