body {
  background-color: fafafa;
}

.landingPage {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.landingPage .row {
  margin-right: 0px;
}

.landingPage .layer {
  background-color: #595959;
  width: 100%;
  height: 100%;
  opacity: .7;
  position: relative;
}

.landingPage .logo {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 7%;
  opacity: 0.7;
  background-color: #666666;
}

.landingPage .logoimage {
  position: absolute;
  top: 10px;
  margin-left: 3%;
}

.landingPage .text {
  position: absolute;
  top: 30%;
  color: #fff;
  margin-left: 5%;
}

.landingPage .text h1 {
  font-size: 3.9rem;
}

.landingPage .text h1 span {
  color: #bd82f0;
}

.landingPage .text h2 {
  font-size: 3rem;
  color: #8ccb75;
}

.landingPage .text p {
  margin-bottom: 0;
  font-size: 25px;
}

.landingPage .col-sm-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.landingPage .btnSignLog {
  margin-top: 15px;
}

.landingPage .btnSignLog .btn {
  width: 80%;
  font-size: 2vw;
}

.landingPage .btnSignLog .btn-success {
  background-color: #8ccb75;
  border-color: #8ccb75;
  border-radius: 0px;
}

.landingPage .btnSignLog .btn-success:hover {
  background-color: transparent;
}

.landingPage .btnSignLog .btn-outline-success {
  border-color: #8ccb75;
  border-width: 2px;
  color: #fff;
  border-radius: 0px;
}

.landingPage .btnSignLog .btn-outline-success:hover {
  background-color: #8ccb75;
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  padding: 0px;
}

.landingPage .modal .modal-dialog .modal-content .modal-header h2 {
  color: #8ccb75;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding: 30px 0px 20px 25px;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs {
  border-bottom: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs .nav-link.active {
  background-color: #8ccb75;
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs .nav-link:hover {
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs a {
  color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-header button.close {
  color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body {
  padding: 10px 0 10px 0;
  background-color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .hide {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .wrapper {
  display: inline-flex;
  -webkit-display: inline-flex;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner {
  display: inline;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-indent: -9999em;
  position: relative;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #8ccb75;
  border-right-color: #8ccb75;
  animation: spinner 0.5s linear infinite;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner--backing:before {
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-top-color: #8ccb75;
  border-right-color: #8ccb75;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="text"], .landingPage .modal .modal-dialog .modal-content .modal-body input[type="password"], .landingPage .modal .modal-dialog .modal-content .modal-body input[type="email"] {
  width: 348px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  outline: none;
  color: #222;
  margin: 0 auto;
  text-indent: 20px;
  font-weight: bold;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #mail:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #password:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #birthdate:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #username:hover {
  background: #F0F0F0;
  border-left: 5px solid #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"] {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 348px;
  display: block;
  border: 0;
  font-size: 20px;
  position: relative;
  top: 0;
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]::-webkit-outer-spin-button, .landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]:focus {
  outline: 0;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 20px;
  line-height: 15px;
  margin-left: 25px;
  display: inline-block;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember input[type=checkbox] {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember label {
  display: block;
  position: absolute;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  content: "";
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #ccc;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember #remember:checked ~ label[for=remember] {
  background: #8ccb75;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-body button[type="submit"] {
  background: #8ccb75;
  border: 0;
  height: 30px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 0px 25px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 50px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body span.msg {
  margin-top: 15px;
  color: red;
  display: block;
  margin-left: 24px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer {
  display: block;
  background-color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot {
  margin-top: 25px;
  display: block;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color: #b5b5b5;
  padding: 0px 0px 25px 25px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot a {
  color: #777;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv label {
  margin-left: 18px;
  color: #8ccb75;
  font-weight: bold;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .hidden {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv button[type="submit"] {
  margin-left: 58%;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .gender, .landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .type {
  background: #8ccb75;
  width: 45%;
  margin-left: 15px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .gender select, .landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .type select {
  background: transparent;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .modal-footer {
  margin-top: 10px;
  padding: 15 15 0 15;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .modal-footer a {
  color: #777;
}

.popupSeccess .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}

.popupSeccess .modal .modal-dialog .modal-content .modal-header i {
  margin-left: 40%;
  color: #8ccb75;
}

.navbar {
  padding-bottom: 0px;
}

.navbar.bg-light {
  background-color: #666666 !important;
}

.navbar .collapse .navbar-brand {
  padding-bottom: 0px;
}

.navbar .collapse .navbar-brand img {
  margin-top: -13px;
}

.navbar .collapse .navbar-nav {
  margin-right: 100px;
}

.navbar .collapse .navbar-nav .nav-item {
  height: 50px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 17px;
  margin-top: 2px;
  font-family: 'Raleway', sans-serif;
  opacity: 0.8;
}

.navbar .collapse .navbar-nav .nav-item .nav-link .icon {
  width: 24px;
  height: 24px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 1;
}

.navbar .collapse .navbar-nav .nav-item:hover:not(:last-child) {
  border-bottom: 3px solid #8ccb75;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu {
  margin: 0.4rem 0 0;
  background-color: #8ccb75;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu .arrow {
  width: 0;
  height: 0;
  margin-left: 15px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #8ccb75;
  margin-top: -17px;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu a {
  color: #595959;
  padding: 0.25rem 0.5rem;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu a svg, .navbar .collapse .navbar-nav .nav-item .dropdown-menu a i {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu a .show {
  display: block;
}

.search-form {
  position: relative;
  top: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  margin-bottom: 0px;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}

.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}

.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all .2s ease-in-out;
}

.search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all .2s ease-in-out;
}

.search-option div:hover span {
  opacity: 1;
  top: -21px;
}

.search-option div label {
  display: block;
  cursor: pointer;
}

.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

.search-option div:hover svg {
  opacity: 1;
}

.search-option div input:checked + label svg {
  fill: #8ccb75;
  opacity: .9;
}

.search-option div input:checked + label span {
  background: #8ccb75;
}

.search-option div input:checked + label span::after {
  border-top-color: #8ccb75;
}

.question {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.question .header {
  border-bottom: 1px solid #8ccb75;
  padding: 10px;
}

.question .header h2 {
  color: #8ccb75;
  display: inline;
}

.question .header h2 i {
  font-size: 22px;
}

.question .body {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.question .body .body-container {
  background-color: fafafa;
}

.question .body .body-container .post {
  padding: 10px;
  border-bottom: 1px solid #8ccb75;
}

.question .body .body-container .post .image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 18px;
}

.question .body .body-container .post .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.question .body .body-container .post .box {
  width: 100%;
  height: 100px;
}

.question .body .body-container .post .box textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #f3f3f3;
}

.question .body .body-container .post .box textarea:focus {
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.question .body .body-container .post button {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  background-color: #8ccb75;
  border: 1px solid #8ccb75;
}

.question .body .body-container .post .queBody {
  padding: 10px;
}

.question .body .body-container .post .queBody a {
  color: #666666;
}

.question .body .body-container .post .queBody a:hover {
  color: #8ccb75;
}

.question .body .body-container .post .comment {
  padding: 10px;
  border-top: 1px solid #8ccb75;
}

.question .body .body-container .post .comment .image {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 18px;
}

.question .body .body-container .post .comment .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.question .body .body-container .post .comment .queText {
  font-size: 13px;
}

.question .body .body-container .post .comment a {
  color: #666666;
}

.question .body .body-container .post .comment a:hover {
  color: #8ccb75;
}

.question .body .body-container .post .postComment {
  padding: 10px;
  border-top: 1px solid #8ccb75;
}

.question .body .body-container .post .postComment .image {
  width: 60px;
  height: 60px;
}

.question .body .body-container .post .prevComment {
  height: 30px;
}

.question .body .body-container .post .prevComment a {
  color: #595959;
}
 

 /*# sourceMappingURL= style.css.map */