body {
  background-color: #f0f0f0;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.error {
  color: #b30b0b;
  display: none;
}

.display {
  display: block !important;
}

.landingPage {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
}

.landingPage .row {
  margin-right: 0px;
}

.landingPage .layer {
  background-color: #595959;
  width: 100%;
  height: 100%;
  opacity: .7;
  position: relative;
}

.landingPage .logo {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 7%;
  opacity: 0.7;
  background-color: #666666;
}

.landingPage .logoimage {
  position: absolute;
  top: 10px;
  margin-left: 3%;
}

.landingPage .text {
  position: absolute;
  top: 30%;
  color: #fff;
  margin-left: 5%;
}

.landingPage .text h1 {
  font-size: 3.9rem;
}

.landingPage .text h1 span {
  color: #bd82f0;
}

.landingPage .text h2 {
  font-size: 3rem;
  color: #8ccb75;
}

.landingPage .text p {
  margin-bottom: 0;
  font-size: 25px;
}

.landingPage .col-sm-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.landingPage .btnSignLog {
  margin-top: 15px;
}

.landingPage .btnSignLog .btn {
  width: 80%;
  font-size: 2vw;
}

.landingPage .btnSignLog .btn-success {
  background-color: #8ccb75;
  border-color: #8ccb75;
  border-radius: 0px;
}

.landingPage .btnSignLog .btn-success:hover {
  background-color: transparent;
}

.landingPage .btnSignLog .btn-outline-success {
  border-color: #8ccb75;
  border-width: 2px;
  color: #fff;
  border-radius: 0px;
}

.landingPage .btnSignLog .btn-outline-success:hover {
  background-color: #8ccb75;
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  padding: 0px;
}

.landingPage .modal .modal-dialog .modal-content .modal-header h2 {
  color: #8ccb75;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding: 30px 0px 20px 25px;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs {
  border-bottom: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs .nav-link.active {
  background-color: #8ccb75;
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs .nav-link:hover {
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs a {
  color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-header button.close {
  color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body {
  padding: 10px 0 10px 0;
  background-color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .wrapper {
  display: inline-flex;
  -webkit-display: inline-flex;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner {
  width: 24px;
  height: 24px;
  display: inline;
  border-radius: 50%;
  text-indent: -9999em;
  position: relative;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #8ccb75;
  border-right-color: #8ccb75;
  animation: spinner 0.5s linear infinite;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner--backing:before {
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-top-color: #8ccb75;
  border-right-color: #8ccb75;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="text"], .landingPage .modal .modal-dialog .modal-content .modal-body input[type="password"], .landingPage .modal .modal-dialog .modal-content .modal-body input[type="email"] {
  width: 348px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  outline: none;
  color: #222;
  margin: 0 auto;
  text-indent: 20px;
  font-weight: bold;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #mail:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #password:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #birthdate:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #username:hover {
  background: #F0F0F0;
  border-left: 5px solid #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"] {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 348px;
  display: block;
  border: 0;
  font-size: 20px;
  position: relative;
  top: 0;
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]::-webkit-outer-spin-button, .landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]:focus {
  outline: 0;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 20px;
  line-height: 15px;
  margin-left: 25px;
  display: inline-block;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember input[type=checkbox] {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember label {
  display: block;
  position: absolute;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  content: "";
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #ccc;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember #remember:checked ~ label[for=remember] {
  background: #8ccb75;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-body button[type="submit"] {
  background: #8ccb75;
  border: 0;
  height: 30px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 0px 25px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 50px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body span.msg {
  margin-top: 15px;
  color: red;
  display: block;
  margin-left: 24px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer {
  display: block;
  background-color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot {
  margin-top: 25px;
  display: block;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color: #b5b5b5;
  padding: 0px 0px 25px 25px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot a {
  color: #777;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv label {
  margin-left: 18px;
  color: #8ccb75;
  font-weight: bold;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .hidden {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv button[type="submit"] {
  margin-left: 58%;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .gender, .landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .type {
  background: #8ccb75;
  width: 45%;
  margin-left: 15px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .gender select, .landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .type select {
  background: transparent;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .modal-footer {
  margin-top: 10px;
  padding: 15 15 0 15;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .modal-footer a {
  color: #777;
}

.popupSeccess .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}

.popupSeccess .modal .modal-dialog .modal-content .modal-header i {
  margin-left: 40%;
  color: #8ccb75;
}

.navbar {
  padding-bottom: 0px;
}

.navbar.bg-light {
  background-color: #666666 !important;
}

.navbar .collapse .navbar-brand {
  padding-bottom: 0px;
}

.navbar .collapse .navbar-brand img {
  margin-top: -13px;
}

.navbar .collapse .navbar-nav {
  margin-right: 100px;
}

.navbar .collapse .navbar-nav .nav-item {
  height: 50px;
}

.navbar .collapse .navbar-nav .nav-item button {
  background: transparent;
  border: none;
  margin-top: 6px;
}

.navbar .collapse .navbar-nav .nav-item button:focus {
  outline: 0;
}

.navbar .collapse .navbar-nav .nav-item button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 17px;
  margin-top: 2px;
  font-family: 'Raleway', sans-serif;
  opacity: 0.8;
}

.navbar .collapse .navbar-nav .nav-item .nav-link .icon {
  width: 24px;
  height: 24px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link.notifcation {
  font-size: 24px;
  margin-top: 4px;
}

.navbar .collapse .navbar-nav .nav-item:hover:not(:last-child) {
  border-bottom: 3px solid #8ccb75;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav {
  position: relative;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu {
  margin: 0.4rem 0 0;
  background-color: #8ccb75;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu .arrow {
  width: 0;
  height: 0;
  margin-left: 15px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #8ccb75;
  margin-top: -17px;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu .dropdown-item:hover {
  background-color: #fff;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu a {
  color: #595959;
  padding: 0.25rem 0.5rem;
}

.navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu a svg, .navbar .collapse .navbar-nav .nav-item.dropdownNav .dropdownNav-menu a i {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

.navbar .search-form {
  position: relative;
  top: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  margin-bottom: 0px;
}

.navbar .search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.navbar .search-form .imgSearch {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.navbar .search-form .list-group .list-group-item:hover {
  background-color: #eee;
}

.navbar .search-form .list-group .list-group-item a {
  text-decoration: none;
}

.navbar .search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.navbar .search-input::-webkit-search-cancel-button {
  appearance: none;
}

.navbar .search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.navbar .search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.navbar .search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}

.navbar .search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

.navbar .search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}

.navbar .search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all .2s ease-in-out;
}

.navbar .search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all .2s ease-in-out;
}

.navbar .search-option div:hover span {
  opacity: 1;
  top: -21px;
}

.navbar .search-option div label {
  display: block;
  cursor: pointer;
}

.navbar .search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

.navbar .search-option div:hover svg {
  opacity: 1;
}

.navbar .search-option div input:checked + label svg {
  fill: #8ccb75;
  opacity: .9;
}

.navbar .search-option div input:checked + label span {
  background: #8ccb75;
}

.navbar .search-option div input:checked + label span::after {
  border-top-color: #8ccb75;
}

.bgCover {
  background: url("../images/1.png") no-repeat;
  background-size: cover;
  height: 270px;
}

.profile .title {
  display: inline;
}

.profile .followBtn i {
  color: #8ccb75;
  margin-right: 2px;
}

.profile .box {
  padding: 10px;
  position: relative;
  top: -40px;
  background: #fff;
  height: 100px;
}

.profile .box a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: -50px;
}

.profile .box .info h2, .profile .box .info p {
  margin-left: 20px;
}

.profile .box .info .info-count {
  padding-left: 100px;
}

.profile .box .count {
  border: 1px solid #f3f3f3;
  min-height: 54px;
  text-align: center;
  margin-top: 10px;
  margin-left: 2px;
}

.profile .box .count .iconbg {
  background: #eee;
}

.profile .box .count .iconbg .icon {
  min-height: 20px;
}

.profile .box .count .iconbg .icon svg, .profile .box .count .iconbg .icon img, .profile .box .count .iconbg .icon i {
  width: 20px;
  height: 20px;
}

.profile .box .count .iconbg .icon i {
  margin-top: 3px;
}

.profile .box .count .iconbg .icon span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all .2s ease-in-out;
}

.profile .box .count .iconbg .icon span:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all .2s ease-in-out;
}

.profile .box .count .iconbg .icon:hover span {
  opacity: 1;
  top: -21px;
}

.profile .box .count .data {
  background-color: #fff;
}

.profile .box .count .data.col-sm-8 {
  padding-left: 7px;
}

.profile .box .count .data .num {
  color: #8ccb75;
  font-size: 13px;
  font-weight: bold;
}

.profile .box .count .data .name {
  font-size: 11px;
  font-weight: bold;
}

.profile .date {
  color: #595959;
  font-size: 10px;
}

.profile .profileBody {
  margin-top: 100px;
}

.profile .profileBody .bgColor {
  background-color: #8ccb75 !important;
}

.profile .profileBody .overview {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  transition: height 0.4s;
}

.profile .profileBody .overview .header {
  border-bottom: 1px solid #8ccb75;
}

.profile .profileBody .overview .boxOverview {
  border: 1px solid #f0f0f0;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.profile .profileBody .overview .boxOverview .col-lg-2 {
  padding-right: 0px;
}

.profile .profileBody .overview .boxOverview .col-lg-10 {
  padding-left: 0px;
}

.profile .profileBody .overview .boxOverview .icon {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.profile .profileBody .overview .boxOverview .icon svg, .profile .profileBody .overview .boxOverview .icon i {
  width: 20px;
  height: 20px;
  margin-top: 9px;
}

.profile .profileBody .overview .boxOverview .text {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 6px;
  font-weight: bold;
  text-align: inherit;
  color: #666666;
}

.profile .profileBody .overview .boxOverview .text:hover {
  background-color: #8ccb75;
}

.profile .profileBody .overview .boxOverview .text.hidden-xs {
  display: block;
}

.profile .profileBody .overview .boxOverview .text.visible-sm {
  display: none;
}

.profile .profileBody .question {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: none;
  margin-bottom: 100px;
}

.profile .profileBody .question .header {
  border-bottom: 1px solid #8ccb75;
  padding: 10px;
}

.profile .profileBody .question .header h2 {
  color: #8ccb75;
  display: inline;
}

.profile .profileBody .question .header h2 i {
  font-size: 22px;
}

.profile .profileBody .question .body {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.profile .profileBody .question .body .body-container {
  background-color: #f0f0f0;
}

.profile .profileBody .question .body .body-container .post {
  padding: 10px;
  border-bottom: 1px solid #8ccb75;
}

.profile .profileBody .question .body .body-container .post .image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 18px;
}

.profile .profileBody .question .body .body-container .post .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile .profileBody .question .body .body-container .post .boxQus {
  width: 100%;
  height: 100px;
}

.profile .profileBody .question .body .body-container .post .boxQus textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #f3f3f3;
}

.profile .profileBody .question .body .body-container .post .boxQus textarea:focus {
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.profile .profileBody .question .body .body-container .post button {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  background-color: #8ccb75;
  border: 1px solid #8ccb75;
}

.profile .profileBody .question .body .body-container .post button.btnDisable[disabled] {
  opacity: 0.4;
}

.profile .profileBody .question .body .body-container .post .queBody {
  padding: 10px;
}

.profile .profileBody .question .body .body-container .post .queBody .queOption {
  text-align: center;
}

.profile .profileBody .question .body .body-container .post .queBody .queOption a {
  color: #666666;
}

.profile .profileBody .question .body .body-container .post .queBody .queOption a.colorLike {
  color: #8ccb75;
}

.profile .profileBody .question .body .body-container .post .queBody .queOption a:hover {
  color: #8ccb75;
}

.profile .profileBody .question .body .body-container .post .scrollComment .comment {
  padding: 10px;
  border-top: 1px solid #8ccb75;
}

.profile .profileBody .question .body .body-container .post .scrollComment .comment .image {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 18px;
}

.profile .profileBody .question .body .body-container .post .scrollComment .comment .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile .profileBody .question .body .body-container .post .scrollComment .comment .queText {
  font-size: 13px;
}

.profile .profileBody .question .body .body-container .post .scrollComment .comment a {
  color: #666666;
}

.profile .profileBody .question .body .body-container .post .scrollComment .comment a:hover {
  color: #8ccb75;
}

.profile .profileBody .question .body .body-container .post .postComment {
  padding: 10px;
  border-top: 1px solid #8ccb75;
}

.profile .profileBody .question .body .body-container .post .postComment .image {
  width: 60px;
  height: 60px;
}

.profile .profileBody .question .body .body-container .post .prevComment {
  height: 30px;
}

.profile .profileBody .question .body .body-container .post .prevComment a {
  color: #595959;
}

.profile .profileBody .aboutMe {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.profile .profileBody .aboutMe .header {
  border-bottom: 1px solid #8ccb75;
  padding: 10px;
}

.profile .profileBody .aboutMe .header h2 {
  color: #8ccb75;
  display: inline;
}

.profile .profileBody .aboutMe .header h2 i {
  font-size: 22px;
}

.profile .profileBody .aboutMe .body {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.profile .profileBody .aboutMe .body .body-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.profile .profileBody .aboutMe .body .body-container h3 {
  color: #8ccb75;
}

.profile .profileBody .aboutMe .body .body-container h3 span {
  color: #595959;
}

.profile .profileBody .aboutMe .body .body-container .readMore {
  transition: background-color 0.5s;
}

.profile .profileBody .aboutMe .body .body-container .readMore a {
  color: #595959;
}

.profile .profileBody .aboutMe .body .body-container .readMore:hover {
  background-color: #f7f7f7;
  border-radius: 3px;
}

.profile .profileBody .aboutMe .body .body-container .infoBasic {
  display: none;
}

.profile .profileBody .aboutMe .body .body-container .infoBasic .basic .col-lg-2, .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .col-md-3, .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .col-4 {
  padding-right: 0px;
}

.profile .profileBody .aboutMe .body .body-container .infoBasic .basic .col-lg-10, .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .col-md-9, .profile .profileBody .aboutMe .body .body-container .infoBasic .basic .col-8 {
  padding-left: 0px;
}

.profile .profileBody .aboutMe .body .body-container .infoBasic .basic .head {
  color: #595959;
  display: inline;
}

.profile .profileBody .aboutMe .body .body-container .infoBasic .basic .detalis {
  color: #bd82f0;
  display: inline;
}

.profile .profileBody .aboutMe .body .body-container .education h4 {
  margin-top: 10px;
}

.profile .profileBody .aboutMe .body .body-container .education p {
  margin-bottom: 0px;
}

.profile .profileBody .aboutMe .body .body-container .skills .skillRow {
  margin-top: 10px;
  width: 100%;
}

.profile .profileBody .aboutMe .body .body-container .skills .skillRow .skillCont {
  margin-bottom: 10px;
}

.profile .profileBody .aboutMe .body .body-container .skills .skillRow .skillCont .skill {
  float: left;
  position: relative;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px;
}

.profile .profileBody .aboutMe .body .body-container .skills .skillRow .skillCont .skill a {
  color: #666666;
}

.profile .profileBody .aboutMe .body .body-container .skills .skillRow .skillCont .skill a:hover {
  text-decoration: none;
}

.profile .profileBody .follow {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: none;
  margin-bottom: 100px;
}

.profile .profileBody .follow .header {
  border-bottom: 1px solid #8ccb75;
  padding: 10px;
}

.profile .profileBody .follow .header h2 {
  color: #8ccb75;
  display: inline;
}

.profile .profileBody .follow .header h2 i {
  font-size: 20px;
  margin-right: 6px;
}

.profile .profileBody .follow .body {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.profile .profileBody .follow .body .body-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.profile .profileBody .follow .body .col-sm-8 {
  padding-top: 10px;
}

.profile .profileBody .follow .body #custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.profile .profileBody .follow .body #custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.profile .profileBody .follow .body #custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #595959;
}

.profile .profileBody .follow .body .search-query:focus + button {
  z-index: 3;
}

.profile .profileBody .follow .body .person {
  margin-top: 10px;
}

.profile .profileBody .follow .body .person .followImg img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile .profileBody .follow .body .person .messageBtn {
  margin-top: 30px;
}

.profile .profileBody .follow .body .person .delete {
  margin-top: 22px;
}

.profile .profileBody .follow .body .person .dropdown-menu {
  margin: 0.4rem 0 0;
  position: relative;
  min-width: 85px;
  height: 36px;
  float: right;
}

.profile .profileBody .follow .body .person .dropdown-menu .arrow {
  width: 0;
  height: 0;
  margin-left: 46px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid rgba(0, 0, 0, 0.15);
  margin-top: -17px;
}

.profile .profileBody .follow .body .person .dropdown-menu a {
  color: #595959;
  padding: 0.25rem 0.5rem;
}

.profile .profileBody .follow .body .person .dropdown-menu a svg, .profile .profileBody .follow .body .person .dropdown-menu a i {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

.profile .profileBody .Accomplishments {
  margin-bottom: 100px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.profile .profileBody .Accomplishments .header {
  border-bottom: 1px solid #8ccb75;
  padding: 10px;
}

.profile .profileBody .Accomplishments .header h2 {
  color: #8ccb75;
  display: inline;
}

.profile .profileBody .Accomplishments .header h2 i {
  font-size: 20px;
  margin-right: 6px;
}

.profile .profileBody .Accomplishments .body {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.profile .profileBody .Accomplishments .body .title span {
  color: #8ccb75;
}

.profile .profileBody .Accomplishments .body .exam {
  border-bottom: 1px solid #8ccb75;
}

.profile .profileBody .Accomplishments .body .exam .examDetalis {
  margin-top: 10px;
}

.profile .profileBody .Accomplishments .body .exam .readMore {
  transition: background-color 0.5s;
}

.profile .profileBody .Accomplishments .body .exam .readMore a {
  color: #595959;
}

.profile .profileBody .Accomplishments .body .exam .readMore:hover {
  background-color: #f7f7f7;
  border-radius: 3px;
}

.profile .profileBody .Accomplishments .body .courses {
  margin-top: 20px;
}

.popup .modal-dialog {
  max-width: 700px !important;
}

.popup .modal-dialog .modal-content .modal-header {
  background-color: #595959;
  color: #fff;
}

.popup .modal-dialog .modal-content .modal-header .Close {
  color: #8ccb75;
  text-shadow: none;
}

.popup .modal-dialog .modal-content .modal-footer {
  display: block;
  border-top: none;
}

.popup .modal-dialog .modal-content .modal-footer .save {
  background-color: #8ccb75;
  color: #fff;
}

.popUpInfo .modal-dialog .modal-content .modal-body img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.popUpInfo .modal-dialog .modal-content .modal-body #ImageBrowse {
  display: none;
}

.popUpInfo .modal-dialog .modal-content .modal-body input.file {
  position: absolute;
  z-index: -1;
}

.popUpInfo .modal-dialog .modal-content .modal-body i {
  position: absolute;
  top: 83px;
  right: 12px;
}

.popUpInfo .modal-dialog .modal-content .modal-body .line {
  margin-top: 20px;
}

.popUpInfo .modal-dialog .modal-content .modal-body .line .title {
  margin-bottom: 0px;
}

.popUpInfo .modal-dialog .modal-content .modal-body .line textarea {
  width: 100%;
  height: 100px;
}

.popUpEduc .modal-dialog .modal-content .modal-body .educEdit {
  padding: 30px;
  margin-top: 20px;
  border: 1px solid #eee;
}

.popUpEduc .modal-dialog .modal-content .modal-body .educEdit h3 {
  color: #8ccb75;
  margin-bottom: 10px;
}

.popUpEduc .modal-dialog .modal-content .modal-body .educEdit .fromTo {
  margin-top: 10px;
}

.popUpEduc .modal-dialog .modal-content .modal-body .educEdit .fromTo h5 {
  text-align: center;
}

.popUpSkill .modal-dialog .modal-content .modal-body .skillRow {
  margin-top: 35px;
}

.popUpSkill .modal-dialog .modal-content .modal-body .skillRow .skillCont {
  margin-bottom: 10px;
}

.popUpSkill .modal-dialog .modal-content .modal-body .skillRow .skillCont .skill {
  float: left;
  position: relative;
  background-color: #eee;
  border-radius: 40px;
  padding: 10px;
}

.popUpSkill .modal-dialog .modal-content .modal-body .skillRow .skillCont .skill a {
  color: #666666;
}

.popUpSkill .modal-dialog .modal-content .modal-body .skillRow .skillCont .skill a {
  text-decoration: none;
}

.popUpSkill .modal-dialog .modal-content .modal-body .skillRow .skillCont .skill .btnDelete {
  background-color: transparent;
  border-color: transparent;
  color: #e40b0b;
}

.popUpSkill .modal-dialog .modal-content .modal-body .dropdownSkill {
  position: absolute;
  z-index: 1000;
  width: auto;
}

.popUpSkill .modal-dialog .modal-content .modal-body .dropdownSkill::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.popUpSkill .modal-dialog .modal-content .modal-body .dropdownSkill::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

.popUpSkill .modal-dialog .modal-content .modal-body .dropdownSkill::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 2px solid #555555;
}

.popUpSkill .modal-dialog .modal-content .modal-body .dropdownSkill li {
  padding: .5rem .75rem;
  cursor: pointer;
}

svg, i {
  height: 20px;
  width: 20px;
  fill: #5a6674;
}

.newsFeed .newsFeedBody {
  margin-top: 100px;
}

.newsFeed .newsFeedBody .line {
  border-bottom: 1px solid #8ccb75;
}

.newsFeed .newsFeedBody .card {
  background: #fff;
  text-align: center;
}

.newsFeed .newsFeedBody .card .profimg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
}

.newsFeed .newsFeedBody .card .line {
  border-bottom: 1px solid #8ccb75;
}

.newsFeed .newsFeedBody .card .line .name {
  margin: 0px;
}

.newsFeed .newsFeedBody .card .line .title {
  font-size: 12px;
  color: rgba(34, 34, 34, 0.466);
}

.newsFeed .newsFeedBody .card .followNum {
  color: rgba(34, 34, 34, 0.466);
  margin: 0px;
}

.newsFeed .newsFeedBody .question {
  margin-bottom: 100px;
}

.newsFeed .newsFeedBody .question .header {
  border-bottom: 1px solid #8ccb75;
  padding: 10px;
}

.newsFeed .newsFeedBody .question .header h2 {
  color: #8ccb75;
  display: inline;
}

.newsFeed .newsFeedBody .question .header h2 i {
  font-size: 22px;
}

.newsFeed .newsFeedBody .question .body {
  width: 100%;
  overflow: hidden;
}

.newsFeed .newsFeedBody .question .body .body-container .addQue {
  padding: 10px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 50px;
}

.newsFeed .newsFeedBody .question .body .body-container .boxQus {
  width: 100%;
  height: 100px;
}

.newsFeed .newsFeedBody .question .body .body-container .boxQus textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #fff;
}

.newsFeed .newsFeedBody .question .body .body-container .boxQus textarea:focus {
  outline: none;
}

.newsFeed .newsFeedBody .question .body .body-container button {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  background-color: #8ccb75;
  border: 1px solid #8ccb75;
}

.newsFeed .newsFeedBody .question .body .body-container .post {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .col-md-10, .newsFeed .newsFeedBody .question .body .body-container .post .col-md-12 {
  padding-left: 0px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .image {
  width: 50px;
  height: 50px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.newsFeed .newsFeedBody .question .body .body-container .post .row {
  margin-left: 0px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody {
  padding: 10px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .queOption {
  text-align: center;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .queOption a {
  color: #666666;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .queOption a:hover {
  color: #8ccb75;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .col-md-2 {
  padding-left: 0px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .name {
  font-size: 15px;
  margin-bottom: 0px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .title, .newsFeed .newsFeedBody .question .body .body-container .post .queBody .date {
  margin-bottom: 0px;
  color: #595959;
  font-size: 10px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .queBody .queText {
  font-size: 15px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .scrollComment::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.newsFeed .newsFeedBody .question .body .body-container .post .scrollComment::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.newsFeed .newsFeedBody .question .body .body-container .post .scrollComment::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 2px solid #555555;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment {
  padding: 10px;
  background-color: #eee;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment .image {
  width: 50px;
  height: 50px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment .col-lg-2 {
  padding-right: 0px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment .name {
  font-size: 13px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment .queText {
  font-size: 13px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment a {
  color: #666666;
}

.newsFeed .newsFeedBody .question .body .body-container .post .comment a:hover {
  color: #8ccb75;
}

.newsFeed .newsFeedBody .question .body .body-container .post .postComment {
  padding: 10px;
  border-top: 1px solid #8ccb75;
}

.newsFeed .newsFeedBody .question .body .body-container .post .postComment .image {
  width: 40px;
  height: 40px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .postComment button {
  width: 60%;
  height: 50px;
}

.newsFeed .newsFeedBody .question .body .body-container .post .prevComment {
  height: 30px;
  background-color: #eee;
}

.newsFeed .newsFeedBody .question .body .body-container .post .prevComment a {
  color: #595959;
  margin: 10px;
}

.newsFeed .newsFeedBody .suggest {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

.newsFeed .newsFeedBody .suggest .col-md-5 {
  padding-left: 0;
}

.newsFeed .newsFeedBody .suggest .col-2 {
  padding-left: 1;
}

.newsFeed .newsFeedBody .suggest .col-11 {
  padding-right: 0px;
}

.newsFeed .newsFeedBody .suggest .header {
  padding: 10px;
}

.newsFeed .newsFeedBody .suggest img {
  width: 40px;
  height: 40px;
  margin-left: 20%;
  border-radius: 50%;
}

.newsFeed .newsFeedBody .suggest .show-lg-md {
  display: none;
  margin: 0px;
}

.newsFeed .newsFeedBody .suggest .name {
  margin: 0px;
  font-size: 15px;
}

.newsFeed .newsFeedBody .suggest .title {
  font-size: 12px;
  color: rgba(34, 34, 34, 0.466);
}

.newsFeed .newsFeedBody .suggest .line {
  border-bottom: 1px solid #8ccb75;
}

.newsFeed .newsFeedBody .liveNow {
  background: #FC2517;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.newsFeed .newsFeedBody .liveNow h3 {
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
}

.newsFeed .newsFeedBody .carousel .carousel-item .carousel-caption {
  padding-bottom: 0px;
}

.newsFeed .newsFeedBody .carousel .carousel-item .carousel-caption h5 {
  color: #1b1b1b;
}

.newsFeed .newsFeedBody .footer {
  padding: 10px;
  padding-left: 20px;
}

.newsFeed .newsFeedBody .footer p {
  display: inline;
  color: #595959;
}

.newsFeed .newsFeedBody .footer img {
  height: 20px;
  display: inline-block;
}

.SearchResult {
  margin-top: 100px;
}

.SearchResult .header {
  color: #8ccb75;
}

.SearchResult .search {
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.SearchResult .search .person {
  margin-bottom: 10px;
}

.SearchResult .search .person .followImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
}

.SearchResult .search .person .followName {
  text-decoration: none;
  color: #222;
}

.SearchResult .search .person .followName:hover {
  color: #595959;
}

.chanceOwner {
  margin-top: 60px;
}

.chanceOwner .navbar .collapse .navbar-nav {
  margin-right: 250px;
}

.chanceOwner .createBtn {
  padding-top: 30px;
}

.chanceOwner .liveCourse {
  margin-top: 50px;
  text-align: center;
}

.chanceOwner .liveCourse img {
  width: 200px;
}

.chanceOwner .liveCourse .date {
  background-color: #FC2517;
}

.chanceOwner .liveCourse button {
  background-color: #8ccb75;
}
/*# sourceMappingURL=style.css.map */