<div class="container-fluid">
      
<style>
   #remoteVideos video
   {
       display:none;
   } 
   /* #en6ZM8C22ak44OSecrfs_video_incoming
   {
       display: block !important;
   } */
</style>

<div class="row liveRoom ">

    <div class="col-6">
        <div class="whiteBoard"> 
                <h1>White board</h1>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12"> 
                <div class="live">
                    <!-- <video id="localVideo"></video> -->
                    <div id="remoteVideos"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="chat justify-content-center">
                        <div class="row block">
                            <div class="col-lg-1 col-md-3">
                                <div class="image">
                                    <img class="profileImg" ng-src="../../../images/defaultfemale.jpg"> 
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="name" >Bailasan</p>
                                            <p class="msg" >hiiiiiiii</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row block">
                            <div class="col-lg-1 col-md-3">
                                <div class="image">
                                    <img class="profileImg" ng-src="../../../images/defaultfemale.jpg"> 
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="name" >Bailasan</p>
                                            <p class="msg" >hiiiiiiii</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="send" >
                            <div class="row ">
                                <div class="col-lg-1 col-md-3">
                                    <div class="image">
                                        <img  ng-src="../../../images/defaultfemale.jpg">                                             
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-9">
                                    <div class="boxQus">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea class="textareaComment form-control" rows="3" cols="50" placeholder="Add Your Answer here ...."></textarea> 
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn" >Send</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>       
                            </div>  
                        </div>
                </div>  
            </div>     
        </div>
    </div>

</div>
</div>

<script>
    
</script>