
<div style="margin-top: 150px;" class="container">
    <div class="liveCourse">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 course"  ng-repeat="course in getLiveCoures">
                <div class="thumbnail">
                    <img src="http://mindhubgp-001-site1.itempurl.com{{course.image}}" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                            <h4 ng-bind="course.name"></h4>
                            <p ng-bind="course.info"> </p>
                            <!-- <p>Time : <span class="date">Thursday 10:00-11:30</span></p> -->
                            <a href="#/liveRoom/{{course.roomId}}/{{course.instructorId}}" class="btn btn-success">Join Room</a>
                       
                    </div>
                </div>
        </div>     
        </div>
        
    </div>
</div>
