<div class="container">
    <div class="person" >
        <div class="row ">
            <div class="col-12">
                <div class="row  justify-content-center">
                    <div class="col-md-2 col-sm-12 followImg ">
                            <img class="profileImg"  ng-src="../../../images/profile-avatar.jpg">
                    </div>
                    <div class="col-10">
                        <div class="row ">
                            <div class="col-lg-8 col-md-6 col-12 followInfo">
                                <div class="row">
                                <div class="col-12">
                                    <a href=""  >bailasan Elmangosh</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 ">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="messageBtn" >
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>   
        </div>
    </div>

</div>