<div ng-controller="skillsCtrl">

  
    <div class="row">
        <div class="col-md-6">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Skills</h3>
                    <form ng-submit="addSkill()" >
                    <input type="text" class="form-control" ng-model="skill.Name" placeholder="Add Skills">
                    <button class="btn add" type="submit">Add</button>
                    </form>   
                </div>
                <div class="panel-body"  >
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th> 
                                <th>Skills</th>                          
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="skill in getskill" >
                                <td>{{skill.id}}</td>
                                <td>{{skill.name}}</td>
                                <td><button class="btn-danger" ng-click="delete(getskill,skill,skill.id)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BASIC TABLE -->
        </div>
    </div>

</div>