<div ng-controller="subCategoryCtrl">

  
    <div class="row">
        <div class="col-md-6">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Sub category</h3>
                    <form ng-submit="addSubCategory()" >
                    <input type="text" class="form-control" ng-model="subCategory.Name" placeholder="Add Sub Category">
                  
                  <!--ANA Zawedt ng-model fl select dy am asht3'al-->
                    <select ng-model="subCategory.MainCategoryId"  ng-model="filterCondition" >
                        <option ng-repeat="c in MainCategories" value='{{c.id}}' >{{c.name}}</option>
                    </select>
                    <button class="btn add" type="submit">Add</button>
                    </form>   
                </div>
                <div class="panel-body"  >
                    <table class="table">
                        <thead>
                            <tr>
                                 <th>ID</th> 
                                 <th>Sub Category</th>  
                                <th>Category</th>
                                                              
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="subCategory in getsubCategorys" >
                                <td>{{subCategory.id}}</td>
                                <td>{{subCategory.name}}</td>
                                <td>{{subCategory.mainCategory}}</td>                                
                                <td><button class="btn-danger" ng-click="delete(getsubCategorys,subCategory ,subCategory.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>

                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BASIC TABLE -->
        </div>
    </div>




</div>